.Form {
  width: 40%;
  /* max-width: 800px; */
  background-color: white;
  padding: 30px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}
.Full-width {
  width: 100%;
  margin: 10px auto;
}

.Notice-text {
  margin: 10px 0;
  color: #cccccc;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .Form {
    width: 95%;
  }
}
