.FourOFour h1,
.FourOFour p {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.FourOFour h1 {
  font-size: 120px;
}

.FourOFour p {
  font-size: 40px;
}

.FourOFour .BackHome {
  margin-top: 20px;
  text-align: center;
}
